<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

    <body>
       
        <h1 class="text-danger">Please login to continue</h1>
        <div class='message'>
            <%- include('./partials/messages.ejs') %>
        </div>
   
        <div class="topsection">
           
            <div class=" mt-5 loginBox">
            
                <form action="/login" method="POST">
               
                    <div>
                    
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" placeholder="Email Address" class="form-control " id="exampleInputEmail1"
                            name="email" >
                    </div>
                    <div>
                        <label class="form-label">Password</label>
                        <input type="password" placeholder="Password" class="form-control " name="password" required>
                    </div>
                    <button type="submit" class="btn btn-secondary">Login</button>
                   
                </form>
               
                <a  href='/register'>Not a member yet ? Register</a>
            
        </div>
     
    </body>
    <%- include('./partials/footer.ejs') %>

</html>