<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>

<body class="submit">
  
    <h4 > Your Profile Update was Successful  </h4>
    <div class='message'>
    <%- include('./partials/messages.ejs') %>
</div>
    <p id='submit'>This is to confirm that we your profile was updated successfully. You can login to view changes made. </p>
    <form class='backToHomePage' action='/signout' method="GET">
       <button type="submit" class="btn btn-success">Back to Hompage</button>
    </formclass=>
 
</body>
<%- include('./partials/footer.ejs') %>

</html>